html,
body,
#root {
  height: 100%;
  margin: 0px;
}

body {
  font-size: 62.5%;
}

section {
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
}

header,
.row {
  display: flex; /* aligns all child elements (flex items) in a row */
  column-gap: "5px";
  border-bottom: 1px solid;
}

.col {
  border-right: 1px solid;
}
